{% extends "base.html" %}

{% block login %}
    <form class="form-inline">
        <div class="btn-toolbar">
            <a href="/accounts/logout" class="btn btn-primary btn-primary-spacing" role="button">Logout</a>
        </div>
    </form>
{% endblock login %}


{% block content %}

<div class="container">
    {% for exam in exam_list %}
        <div class="row" style="margin-top:10px" >
            <div class="col-sm-12" >
                <div class="thumbnail" >
                    <div class="caption" >
                        <h2><a href="{{ obj.get_absolute_url }}">{{ exam.name }}</a> <small><span class="glyphicon glyphicon-calendar"></span>{{ exam.created|timesince }} ago</small></h2>
                    <br>
                    <p class="text-justify" >{{ exam.description|truncatechars_html:240}}</p>
                    <a href="{{ exam.get_absolute_url }}" class="btn btn-primary" role="button">Start Exam</a>
                    </div>
                </div>
                <hr size='1'>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}